@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    text-decoration: none;
    font-family: 'Macondo', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    display: inline;
    font-size: 1.5rem;
    padding-right: 25px;
}

nav a {
    color: black;
}

nav a:hover {
    color: brown;
}

.brand {
    padding-left: 25px;
}

span {
    color: brown;
}